.layout-app {
    background-color: #1e1e1e !important;
}

.ant-card-head {
    padding: 0 16px !important;
    margin-bottom: 15px !important;
}

.ant-card-head-title {
    font-size: 1.3rem !important;
}
@media screen and (max-width: 768px) {

    .ant-layout-content {
        padding: 0 !important;
    }
}
